/*Background pattern from Toptal Subtle Patterns*/
body {
    width: 100%;
    background-image: url('../images/doodles.png');
}

#mainContainer {
    margin-top: 10vh;
}

#formsContainer {
    background-color: rgba(130, 130, 130, 0.8);
    border-radius: 5px;
    padding-bottom: 5vh;
}

#logoHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-left: 0.5vw;
    color: white;
}

@media (max-width: 600px) {
    #mainContainer {
        margin-top: 7vh;
    }

    #formsContainer {
        height: 80vh;
    }

    #footer {
        padding-top: 4vh;
        width: 92vw;
        font-size: 12px;
        margin-left: 0;
    }
}