<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>Password reset</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" th:href="@{/style/resetPasswordStyle.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="alert alert-danger collapse" role="alert">
    <strong>Passwords don't match!</strong> Reenter your passwords and try submitting again.
</div>
<div id="mainContainer" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-md-offset-4">
            <div id="formsContainer">
                <div>
                    <div class="text-center">
                        <h3 id="logoHeader"><img th:src="@{/images/qrCode.png}" alt="Logo" width="40%"></h3>
                        <h1 class="text-center" style="color: white">ListIt</h1>
                        <h2 class="text-center" style="color: white">Password reset</h2>
                        <div class="panel-body">

                            <div th:if="${error}">
                                <div class="alert alert-danger">
                                    <span th:text="${error}"></span>
                                </div>
                            </div>

                            <div th:if="${param.success}">
                                <div class="alert alert-info">
                                    You've successfully requested a new password reset!
                                </div>
                            </div>

                            <form th:action="@{/user/resetPassword}" th:object="${resetPasswordForm}" method="post">

                                <p class="error-message"
                                   th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:text="${error}">Validation error</p>

                                <input type="hidden" name="token" th:value="${token}"/>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input id="password"
                                               class="form-control"
                                               placeholder="password"
                                               type="password"
                                               th:field="*{password}"/>
                                    </div>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmationPassword')}? 'has-error':''">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        <input id="confirmPassword"
                                               class="form-control"
                                               placeholder="Confirm password"
                                               type="password"
                                               th:field="*{confirmationPassword}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-success">Reset password</button>
                                </div>
                            </form>
                            <script th:inline="javascript">
                                $('form').on('submit', function () {
                                    if ($('#password').val() !== $('#confirmPassword').val()) {
                                        $('.alert').show();
                                        return false;
                                    }
                                    return true;
                                });
                            </script>

                        </div>
                    </div>
                </div>
                <div id="footer">Icons made by
                    <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
                            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                            target="_blank">CC 3.0 BY</a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>