<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="width: 50vw; height: 50vh; margin: 0 auto; background-color: darkgray; text-align: center; position: relative">
    <div style="width: 50%; margin: 0 auto; padding-top: 1vw">
        <img th:src="@{/images/qrCode.png}" alt="Logo" width="200vw" style="display: block; margin-left: auto; margin-right: auto">
    </div>
    <h1 th:text="#{success.header}">Email confirmed successfully!</h1>
    <h4 th:text="#{success.description}" style="text-align: left; padding-top: 3vh">Thank you for using ListIT</h4>
    <div style="position: absolute; bottom: 0">Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
</body>
</html>